footer{
	background-color: black;
	height: fit-content;
	margin-top: -100px;
	clear: both;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: black;
    padding-left: 100px;
    padding-right: 150px;
}

.logo1{
    margin-right: 20px;
    align-self: flex-start;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding-left: 80px;
}

.logo1:hover{
    opacity: 0.7;
}

.aboutus{
	margin-left: 165px;
	font-size: 25px;
}

footer li{
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

footer a:hover{
    color: rgb(187, 187, 187);
}

footer span{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

footer span:hover{
    color: rgb(187, 187, 187);
}

.social{
    margin-top: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: fit-content;
    animation: fadeIn;
    animation-duration: 0.5s;
    padding-left: 200px;
}

.social li{
    display: inline;
    margin-right: 150px;
}

.socialico{
    width: 50px;
    opacity: 0.7;
	transition: all 0.3s ease-in-out;
	
    margin-bottom: 50px;
}

.socialico:hover{
    transform: scale(1.20);
    opacity: 1;
}

/*SEZIONE DESTRA DEL FOOTER*/
.right1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.right1 p{
    margin-top: 40px;
    color: white;
}