<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GameOver</display-name>
  <welcome-file-list>
    
    
    <welcome-file>products</welcome-file>
    
  </welcome-file-list>
  
  <resource-ref>
    <description> JNDI reference to a data source </description>
    <res-ref-name>jdbc/dbtsw2</res-ref-name> <!-- Qui, in web.xml definisco il nome della risorsa-->
    <res-type>javax.sql.DataSource</res-type> <!-- Sto dicendo che il tipo di questa risorsa è DataSource -->
    <res-auth>Container</res-auth> <!--E che può leggerla il Container -->
  </resource-ref>
  
  <servlet>
    <servlet-name>SortPlatformServlet</servlet-name>
    <servlet-class>com.control.SortPlatformServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>UserLogServlet</servlet-name>
    <servlet-class>com.control.UserLogServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.control.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ProductsServlet</servlet-name>
	<url-pattern>/products</url-pattern>
</servlet-mapping>
  
  <servlet>
    <servlet-name>AdminServlet2</servlet-name>
    <servlet-class>com.control.AdminServlet2</servlet-class>
  </servlet>
   <servlet-mapping> <!--sarebbe un ALIAS -->
    <servlet-name>AdminServlet2</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  
</web-app>